<!DOCTYPE html>
<html lang="en">
<head>
    <title>SimOverlayNG</title>
    <meta charset="UTF-8">
    <link href="../static/hud.css" type="text/css" rel="stylesheet">
    <script src="../static/hud.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>

<!-- todo deprecate static resources -->
<img id="background" src="../flat/hud.png" alt="N/A">
<img id="icon-arrival" class="icon" src="../static/icon/arrival.png" alt="N/A"/>
<img id="icon-departure" class="icon" src="../static/icon/departure.png" alt="N/A"/>
<img id="icon-flight" class="icon" src="../static/icon/flight.png" alt="N/A"/>
<img id="icon-phase" class="icon" src="../static/icon/phase.png" alt="N/A"/>

<canvas id="canvas">
    This browser does not support HTML5.
</canvas>

</body>
</html>