<!DOCTYPE html>
<!--suppress HtmlRequiredAltAttribute -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimOverlayNG</title>
    <meta charset="UTF-8">
    <link href="/overlay.css" type="text/css" rel="stylesheet">
    <script src="/overlay.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>

<img id="background" src="/background.png" th:src="${background}">
<img class="icon" th:each="i : ${icons}" th:src="${i.file}" th:data-x="${i.x}" th:data-y="${i.y}"
     th:data-width="${i.width}" th:data-height="${i.height}">
<overlay-label th:each="l : ${staticLabels}" th:x="${l.x}" th:y="${l.y}" th:size="${l.size}" th:width="${l.width}" th:color="${l.color}">
    <div is="overlay-text" th:simvar="${l.simVar}"></div>
</overlay-label>
<overlay-label th:each="l : ${animatedLabels}" th:x="${l.x}" th:y="${l.y}" th:size="${l.size}" th:width="${l.width}" th:color="${l.color}"
               th:type="${l.animate.type}" th:interval="${l.animate.interval}">
    <div is="overlay-text" th:each="simvar : ${l.animate.simVars}" th:simvar="${simvar}"></div>
</overlay-label>
<canvas id="canvas">
    This browser does not support HTML5.
</canvas>

</body>
</html>